<h1>Check Out All These Great Films!</h1>

<h2>All Films</h2>

<%= form_tag("/films", method: "get") do %>
  <%= label_tag(:filter, "Filter Options:") %>
  <%= select_tag(:filter, grouped_options_for_select({'Filters' => ['All Films', 'Most Reviewed', 'Highest Rated', 'Top 5 Reviewed', 'Top 5 Rated'], 'By Category' => Category.all.pluck(:name)})) %>
  <%= submit_tag("Filter") %>
<% end %>

<ol>
  <% @films.each do |film| %>
    <li>
      <%= link_to "#{film.title}", film_path(film) %>
      - Rating: <%= film.average_rating %>
      - Reviews: <%= film.reviews.count %>
      - Category: <%= film.category.name %>
    </li>
  <% end %>
</ol>


