<h1>Film page for <%= @film.title %></h1>

<h2>Ratings</h2>

<ol>
  <% @film.ratings.each do |rating| %>
    <li><%= rating.stars %> - <%= rating.user.username %></li>
    <%= link_to "Edit", edit_film_rating_path(@film, rating) %>
    <%= link_to "Delete", film_rating_path(@film, rating), method: :delete %>
  <% end %>
</ol>

<%= link_to 'Add New Rating', new_film_rating_path(@film) %>

<h3>Reviews</h3>

<div>
  <% @film.reviews.each do |review| %>
    <h4><%= review.title %></h4>
    <p><%= review.body %></p>
    <p><%= review.user.username %></p>
    <%= link_to "Edit", edit_film_review_path(@film, review) %>
    <%= link_to "Delete", film_review_path(@film, review), method: :delete %>

    <div style="color: grey; font-style: italic">
      <h5>Comments</h5>
      <%= link_to "Add Comment", new_review_comment_path(review) %>
      <% review.comments.each do |comment| %>
        <p><%= comment.content %></p>
        <p>by <%= comment.user.username %></p>
      <% end %>
    </div>
  <% end %>
</div>

<%= link_to "Add New Review", new_film_review_path(@film) %>

<%= link_to 'Delete Film', film_path(@film), method: :delete %>
