<h1>Film page for <%= @film.title %></h1>

<h2>Ratings</h2>

<p>Average Rating - <%= @film.average_rating %> stars</p>
<ul>
  <% @film.ratings.each do |rating| %>
    <li><%= rating.stars %> stars - <%= rating.user.username %></li>

    <% if logged_in? && current_user == rating.user %>

      <%= link_to "Edit", edit_film_rating_path(@film, rating) %>
      <%= link_to "Delete", film_rating_path(@film, rating), method: :delete %>

    <% end %>
  <% end %>
</ul>

<% if logged_in? %>

  <%= link_to 'Add New Rating', new_film_rating_path(@film) %>

<% end %>

<h3>Reviews</h3>

<div>
  <%= render @film.reviews %>
</div>

<% if logged_in? && current_user.trusted %>

  <%= link_to "Add New Review", new_film_review_path(@film) %>

  <%= link_to 'Delete Film', film_path(@film), method: :delete %>

<% end %>
