<div>
  <ul>
    <% if logged_in? %>
      <li><%= link_to current_user.username, user_path(current_user) %></li>
      <li><%= link_to "Sign Out", session_path(current_user), method: :delete %></li>
    <% else %>
      <li><%= link_to "Sign Up", new_user_path %></li>
      <li><%= link_to "Sign In", new_session_path %></li>
    <% end %>
    <li><%= link_to "Home", root_path %></li>
  </ul>
</div>
